@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-beige text-black overflow-x-hidden;
  }
  @font-face {
    font-family: "Sequel-Sans";
    src: url("./fonts/Sequel\ Sans\ Book\ Disp.otf") format("opentype");
    font-weight: 400;
  }
  @font-face {
    src: url("./fonts/Sequel\ Sans\ Semi\ Bold\ Disp.otf") format("opentype");
    font-weight: 600;
  }

  @font-face {
    font-family: "Sequel-Sans";
    src: url("./fonts/Sequel\ Sans\ Bold\ Disp.otf") format("opentype");
    font-weight: 700;
  }
  @font-face {
    font-family: "Sequel-Sans";
    src: url("./fonts/Sequel\ Sans\ Black\ Disp.otf") format("opentype");
    font-weight: 900;
  }


  @font-face {
    font-family: "Shapiro";
    src: url("./fonts/Shapiro\ 65\ Light\ Heavy\ Text.otf") format("opentype");
    font-weight: 700;
  }
  @font-face {
    font-family: "Shapiro";
    src: url("./fonts/Shapiro\ 35\ Feather\ Text.otf") format("opentype");
    font-weight: 400;
  }

  h1 {
    @apply font-sans font-semibold text-8xl md:text-8xl xl:text-9xl;
  }
  h2 {
    @apply text-xl md:text-2xl xl:text-3xl-vw;
  }
  h3 {
    @apply font-serif md:text-lg xl:text-2xl-vw;
  }
  h4 {
    @apply font-serif text-sm md:text-base xl:text-lg-vw;
  }
  p {
    @apply font-serif text-xl;
  }

  a {
    @apply font-serif;
  }
}
